:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: rgb(235, 235, 235);
}

#another-rule {
  color: red;
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#image {
  display: center;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 20px solid;
  border-color: white;
}

#img-caption {
  text-align: center;
  max-width: 50%;
  line-height: 1.5;
  margin-bottom: 35px;
}

#img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 45px;
  font-family: "helvetica";
  text-align: center;
  margin-bottom: 10px;
}

#headline, #link-text {
  font-size: 19px;
  text-align: center;
  margin-bottom: 55px;
}

#link-text {
  margin-top: 45px;
}

#text-center {
  text-align: center;
}

#tribute-link {
  font-weight: 500;
}

#tribute-info {
  max-width: 50%;
}

ul {
  text-align: left;
  line-height: 1.5;
}

li {
  margin-bottom: 15px;
}

#quote  {
  max-width: 50%;
  line-height: 1.5;
}
